.non-clickable {
	pointer-events: none;
	opacity: 0.5;
}
.dropdown {
	position: absolute;
	display: inline-block;
	z-index: 1000;
	padding: 0.5rem 0;
	margin: 0;
	font-size: 1rem;
	text-align: left;
	opacity: 0;
}
.dropdown.show {
    opacity: 1;
    transform: translate(-115px, 40px);
}
.wrap .page-title-action.dropdown-btn{
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-right: 0px;
	padding-right: 2px;
}
.wrap .page-title-action.import-sub-dropdown-btn{
	margin-left: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-left: 0px;
	padding-left: 3px;
	padding-right: 6px;
}
.wrap .page-title-action.import-sub-dropdown-btn > .dashicons{
	vertical-align: middle;
	transform: translateY(-2px) scale(2);
	height: auto;
	width: auto;
	font-size: 10px;
}
body.post-type-product .wrap a.page-title-action {
    display: inline-block;
}